.header__nav {
    align-items: center;
    background: #f9f9f9;
    display: flex;
    justify-content: space-between;

}

.logo {
    display: flex;
    margin-left: 5rem;

}

.menu__item {
    list-style: none;
}

.menu__list {
    display: flex;
}

.menu__link {
    margin-right: 1.25rem;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-family: 'Fredoka', sans-serif;
    padding-right: 4rem;
    margin-right: 10px;

}

.menu__link:hover {
    color: #FA4A0C;
    font-weight: bold;
    transition: 2ms;
}




.banner {
    background-image: url(./assets/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div__phone {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50px, -389px);
    

}

.texts {
    padding-top: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 24px;
    font-weight: bold;
    color: #f9f9f9;
    font-family: 'Fredoka', sans-serif;
}

.buttons {
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 10;
    

}

.button {
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px 50px;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    transition: .5s;
}

.button:nth-child(2) {
    margin-left: 20px;
}

.button:hover {
    border: 1px solid #FA4A0C;
    background-color: #FA4A0C
}